<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>{% block title %}Hilltop{% endblock %}</title>
		<link rel="stylesheet" href="{{simlink}}/assets/css/index.css">
		{% block styles %}{% endblock %}
	</head>

	<body>
		{% block layout %}{% endblock %}
		<script src="{{simlink}}/assets/js/app.js"></script>

		{% if simlink %}
			<script src="{{simlink}}/assets/inc/replace.js"></script>
		{% endif %}
	</body>
</html>
